@using ElectronicJournal_WEB.Models.ViewModel
@model List<StudentsPerfomanceViewModel>
@{
    ViewData["Title"] = "AcademicPerfomance";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<h3>Оценивание занятия по @ViewBag.SubjectName гр. @ViewBag.GroupName за @ViewBag.Date</h3>

<div>
    <table border="1">
        <tr>
            <td>ФИО студента</td>
            <td>Оценка</td>
        </tr>
        @using (Html.BeginForm("AcademicPerfomance", "TeacherHomePage", FormMethod.Post))
        {
            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@Model[i].FullName</td>
                    <td>
                        @Html.DropDownListFor(m => m[i].Mark, ViewBag.Marks as SelectList)
                    </td>
                    <td style="display:none;">@Html.HiddenFor(m => m[i].UserId)</td>
                    <td style="display:none;">@Html.HiddenFor(m => m[i].LessonId)</td>
                </tr>
            }
            <tr>
                <td>Заметка к занятию</td>
                <td>@Html.TextArea("note", ViewData)</td>
            </tr>
            <tr>
                <td> <button type="submit">Оценить</button></td>
            </tr>
        }
    </table>
</div>